/*
Responsive part*/
@media (min-width: 1199px) {
    #bgimage .logo{
        width: 100px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    #bgimage .logo{
        width: 100px;
    }
    #bgimage .main-heading{
        font-size: 40px;
        width: 60%;
        line-height: 44px;
    }
    #bgimage h4{
        font-size: 22px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    #bgimage .logo{
        width: 100px;
    }
    #bgimage .main-heading{
        font-size: 36px;
        width: 60%;
        line-height: 40px;
    }
    #bgimage h4{
        font-size: 20px;
    }
    .main-heading .navbar-nav > li > a{
        font-size: 12px;
    }
    .navbar-nav > li > a{
        padding: 0px 7px 10px 0px;
    }
}

@media (max-width: 776px) {
    .navbar-collapse{
        max-height: 335px !important;
        padding-bottom: 15px;
        padding-right: 15px;
        overflow-x: visible;
        border-top: 1px solid transparent;
    }
    .navbar-nav{
        width: 100%;
    }
    #bgimage .main-heading{
        font-size: 20px;
        width: 60%;
        line-height: 22px;
    }
    #bgimage h4{
        font-size: 12px;
    }
    #bgimage .logo{
        width: 100px;
    }
    .button .btn{
        min-width: 100px;
        padding: .7em;
        height: 40px;
        font-size: 14px;
    }
    .banner h2{
        min-width: 200px;
        width: 320px;
        font-size: 26px;
    }
    .r-item{
        width: 100%;
    }
    .chooseus{
        margin-top: 96px;
    }
    #features .bigimage img{
        width: 400px;
        height: 500px;
        margin: 0 auto;
    }
    #features .facts{
        margin-top: 48px;
    }
    .vid-icon img{
        width: 170px;
        height: 70px;
    }
    figure.effect-lily h4{
        font-size: 16px;
    }
    figure.effect-lily p{
        font-size: 14px;
    }
    .module-black .content p{
        font-size: 14px;
        width: 99%;
    }
    .bottom-space{
        padding-bottom: 48px;
    }
    .contact-about{
        width: 70%;
        margin: 0 auto;
    }
    .send{
        padding-left: 30px;
    }
    .banner h2{
        min-width: 200px;
        width: 300px;
        font-size: 18px;
    }
    .banner p{
        min-width: 200px;
        width: 400px;
        font-size: 13px;
    }
}
@media (min-width: 340px) and (max-width: 442px){
    #features .bigimage img{
        width: 420px;
        height: 520px;
    }
}
@media (min-width: 280px) and (max-width: 340px){
    #bgimage{
        min-height: 750px;
    }
    #features .bigimage img{
        width: 300px;
        height: 400px;
    }
    figure.effect-lily figcaption > div{
        bottom: 15px;
    }
    figure.effect-lily h4{
        color: #fff;
        text-transform: none;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 5px;
    }
    figure.effect-lily p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 992px){
    .newsWrapper{
        background: rgba(255,255,255,0.7);
    }
}
@media only screen and (max-width: 480px){
    .newsImage{
        background-position: center !important;
        padding: 0px;
    }
    .newsWrapper{
        padding: 25px;
    }
    .banner h2{
        min-width: 200px;
        width: 280px;
        font-size: 16px;
    }
    .banner p{
        min-width: 200px;
        width: 310px;
        font-size: 13px;
    }
}